<% customer.given_messages.each do |given_message| %>
  <tr>
    <td>
      <div class="comment">
        <div class="comment-body bb">
		      <%= link_to customers_customer_path(given_message.send_customer) do %>
			      <%= attachment_image_tag(given_message.send_customer, :profile_image, :fill, 100, 100, fallback: "no_image_square.jpg", size: "100x100") %><br>
		        <%= given_message.send_customer.nick_name %>
		      <% end %>
		    </div>
		  </div>
    </td>
    <td>
      <div class="comment-text">
        <%= given_message.body %>
      </div>
    </td>
    <td>
      <% if given_message.send_customer == current_customer %>
        <div class="">
          <%= link_to "削除", customers_customer_post_comment_path(customer, given_message), method: :delete, remote: true, class: "" %>
        </div>
      <% end %>
    </td>
  </tr>
<% end %>