<div>
  <p>お知らせ編集</p>
</div>

<%= form_with url: admins_announce_path, model:@announce, local: true do |f| %>

	<%= render 'admins/announces/errors', announce: @announce %>

	<div class="field">
		<%= f.label :区分 %>
		<%= f.select :category, [["最新情報", "最新情報"], ["イベント", "イベント"]], include_blank: "--選択して下さい--" %>
	</div>

	<div class="field">
		<%= f.label :タイトル %>
		<%= f.text_field :title, class: "title" %>
	</div>

	<div class="field">
		<%= f.label :概要 %>
		<%= f.text_field :body, class: "body" %>
	</div>

	<div class="actions">
		<%= f.submit '保存'%>
	</div>

<% end %>