<div class="main-visual">
  <div class="main-visual-left">
  </div>
  <div class="main-visual-right">
    <div id="images">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
    </div>
  </div>
</div>

<div class="main-contents">
  <section class="qualification">
    <div class="title">
      <div class="top-icon">
        <%= image_tag 'study_gariben_boy.png', class: "top-icon-anime" %>
        <h3>資格を探す<h3>
      </div>
    </div>

    <div class="qualification-genre">
      <div class="top-icon">
        <p><i class="fas fa-search"></i> ジャンルから探す</p>
      </div>
      <div class="qualification-contents">
        <div class="qualification-box">
          <%= link_to customers_qualifications_path(sort: 1) do %>
            <%= image_tag 'gogaku.png', class: "qualification-box-item", size: "160x160" %>
          <% end %>
        </div>
        <div class="qualification-box">
          <%= link_to customers_qualifications_path(sort: 2) do %>
            <%= image_tag 'iryou.png', class: "qualification-box-item", size: "160x160" %>
          <% end %>
        </div>
        <div class="qualification-box">
          <%= link_to customers_qualifications_path(sort: 3) do %>
            <%= image_tag 'kaikei.png', class: "qualification-box-item", size: "160x160" %>
          <% end %>
        </div>
        <div class="qualification-box">
          <%= link_to customers_qualifications_path(sort: 4) do %>
            <%= image_tag 'sihou.png', class: "qualification-box-item", size: "160x160" %>
          <% end %>
        </div>
        <div class="qualification-box">
          <%= link_to customers_qualifications_path(sort: 5)  do %>
            <%= image_tag 'it.png', class: "qualification-box-item", size: "160x160" %>
          <% end %>
        </div>
        <div class="qualification-box">
          <%= link_to customers_qualifications_path(sort: 6) do %>
            <%= image_tag 'business.png', class: "qualification-box-item", size: "160x160" %>
          <% end %>
        </div>
        <div class="qualification-box">
          <%= link_to customers_qualifications_path(sort: 7) do %>
            <%= image_tag 'koumuin.png', class: "qualification-box-item", size: "160x160" %>
          <% end %>
        </div>
        <div class="qualification-box">
          <%= link_to customers_qualifications_path(sort: 8) do %>
            <%= image_tag 'sport.png', class: "qualification-box-item", size: "160x160" %>
          <% end %>
        </div>
      </div>
      <div class="top-icon">
        <p><i class="fas fa-list-alt"></i> <%= link_to '全資格を見る', customers_qualifications_path %></p>
      </div>
    </div>
  </section>


  <section class="new-stories">
    <div class="title">
      <div class="top-icon">
        <%= image_tag 'study_night_girl.png', class: "top-icon-anime" %>
        <h3>新着の体験談<h3>
      </div>
    </div>
    <div class="top-new-stories-box">
      <div class="customer-index">
        <table class="customer-index-table">
          <thead class="">
            <tr class="customer-index-table-title">
              <th></th>
              <th>ニックネーム</th>
              <th>資格名</th>
              <th>タイトル</th>
              <th>内容</th>
              <th>日付</th>
            </tr>
          </thead>
          <tbody>
            <% @new_stories.each do |story| %>
              <tr>
                <td width=50><%= attachment_image_tag story.customer, :profile_image, format: 'png', fallback: "no_image_square.jpg", size: "50x50" %></td>
                <td width=100><%= link_to  story.customer.nick_name,  customers_customer_path(story.customer.id) %></td>
                <td class="name-reduce"><%= story.qualification.name %></td>
                <td class="title-reduce"><%= link_to story.title, customers_qualification_story_path(story.qualification.id, story.id)  %></td>
                <td class="text-reduce"><%= story.body %></td>
                <td width=70><%= story.created_at.strftime("%m月%d日") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section class="ranking">
    <div class="title">
      <div class="top-icon">
        <%= image_tag 'gyouretsu.png', class: "top-icon-anime" %>
        <h3>人気の体験談<h3>
      </div>
    </div>
    <div class="top-new-stories-box">
      <div class="customer-index">
        <table class="customer-index-table">
          <thead class="">
            <tr class="customer-index-table-title">
              <th></th>
              <th>ニックネーム</th>
              <th>資格名</th>
              <th>タイトル</th>
              <th>内容</th>
              <th>いいね</th>
            </tr>
          </thead>
          <tbody>
            <% @popular_stories.each do |story| %>
              <tr>
                <td width=50><%= attachment_image_tag story.customer, :profile_image, format: 'png', fallback: "no_image_square.jpg", size: "50x50" %></td>
                <td width=100><%= link_to  story.customer.nick_name,  customers_customer_path(story.customer.id) %></td>
                <td class="name-reduce"><%= story.qualification.name %></td>
                <td class="title-reduce"><%= link_to story.title, customers_qualification_story_path(story.qualification.id, story.id)  %></td>
                <td class="text-reduce"><%= story.body %></td>
                <td width=50><%= story.liked_customer.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section class="anounce">
    <div class="title">
      <div class="top-icon">
        <%= image_tag 'kakuseiki_man_smile.png', class: "top-icon-anime" %>
        <h3>お知らせ<h3>
      </div>
    </div>
    <div class="tabs">
      <input id="all" type="radio" name="tab_item" checked>
      <label class="tab_item" for="all"><i class="fas fa-list"></i> すべて表示</label>
      <input id="programming" type="radio" name="tab_item">
      <label class="tab_item" for="programming"><i class="fas fa-newspaper"></i> 最新情報</label>
      <input id="design" type="radio" name="tab_item">
      <label class="tab_item" for="design"><i class="fas fa-microphone"></i> イベント</label>
      <div class="tab_content" id="all_content">
        <div class="tab_content_description">
          <table class="announce-index-table">
            <thead>
              <tr class="announce-index-table-title">
                <th></th>
                <th>お知らせ</th>
                <th width=80>区分</th>
                <th>概要</th>
              </tr>
            </thead>
            <tbody>
              <% @announces.each do |announce| %>
                <tr>
                  <td></td>
                  <td width=350><%= link_to announce.title, customers_announce_path(announce) %></td>
                  <td width=80><%= announce.category %></td>
                  <td class="announce-reduce-text"><%= announce.body %></td>
                </tr>
              <% end %>
            </tbody>
        　</table>
        </div>
      </div>
      <div class="tab_content" id="programming_content">
        <div class="tab_content_description">
          <table class="announce-index-table">
            <thead>
              <tr class="announce-index-table-title">
                <th></th>
                <th>お知らせ</th>
                <th>区分</th>
                <th>概要</th>
              </tr>
            </thead>
            <tbody>
              <% @news_announces.each do |announce| %>
                <tr>
                  <td></td>
                  <td width=350><%= link_to announce.title, customers_announce_path(announce) %></td>
                  <td width=80><%= announce.category %></td>
                  <td class="announce-reduce-text"><%= announce.body %></td>
                </tr>
              <% end %>
            </tbody>
        　</table>
        </div>
      </div>
      <div class="tab_content" id="design_content">
        <div class="tab_content_description">

          <table class="announce-index-table">
            <thead>
              <tr class="announce-index-table-title">
                <th></th>
                <th>お知らせ</th>
                <th>区分</th>
                <th>概要</th>
              </tr>
            </thead>
            <tbody>
              <% @event_announces.each do |announce| %>
                <tr>
                  <td></td>
                  <td width=350><%= link_to announce.title, customers_announce_path(announce) %></td>
                  <td width=80><%= announce.category %></td>
                  <td class="announce-reduce-text"><%= announce.body %></td>
                </tr>
              <% end %>
            </tbody>
        　</table>
        </div>
      </div>
    </div>
  </section>
</div>

<span id="back">
  <a href="#">
    <%= image_tag 'pose_miageru_man.png', class: "top-icon-anime" %>
    <p class="back-text">TOP</p>
  </a>
</span>