<h1 class="page-title">資格編集</h1>


<div class="qualification-infomation">
	<%= form_with url: admins_qualification_path, model:@qualification, local: true do |f| %>
	
		<%= render 'layouts/errors', model: f.object %>
	
	　<div class="qualification-classification">
			<%= f.label :資格名： %>
			<%= f.text_field :name, class: "name" %>
		</div>
	
		<div class="field">
			<%= f.label :資格区分： %>
			<%= f.select :classification, [["国家", "国家"], ["民間", "民間"]], include_blank: "--選択して下さい--" %>
		</div>
	
		<div class="field">
			<%= f.label :ジャンル： %>
			<%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--"  %>
		</div>
	
		<div class="field">
			<%= f.label :資格概要 %><br>
			<%= f.text_area :body, class: "body", size: "100x20" %>
		</div>
	
		<div class="actions">
			<%= f.submit '保存する'%>
		</div>
	
	<% end %>
</div>