<h1 class="page-title">ジャンル一覧・追加</h1>

<div class="a-genre-input-form">
  <%= form_with model: @genre, url: admins_genres_path, local:true do |f| %>

    <%= render 'layouts/errors', model: f.object %>

    <%= f.label :ジャンル %>
    <%= f.text_field :name %>
    <%= f.radio_button :is_active, :true %>
    <%= f.label :is_active, "有効" %>
    <%= f.radio_button :is_active, :false %>
    <%= f.label :is_active, "無効" %>
    <%= f.submit "追加" %>
  <% end %>
</div>


<div>
  <table class="a-genre-index">
    <%= render 'admins/genres/index', genres: @genres %>
  </table>
</div>
