<h1 class="page-title">ユーザ編集</h1>



  <%= render 'customers/customers/errors', customer: @customer %>
	<!-- エラーメッセージ表示-->
  <div class="c-show-all">

  
    <div class="c-show-left">
　　　<%= form_with url: customers_customer_path, model:@customer, local: true do |f| %>
    	<div>
        <div class="img_form">
          <%= attachment_image_tag @customer, :profile_image, fallback: "no_image_square.jpg", id: "img_prev", style: "height: 200px; width:200px;" %><br>
          <%= f.attachment_field :profile_image %>
        </div>
    	</div>
    	<div class="field">
    		<%= f.label :ニックネーム %>
    		<%= f.text_field :nick_name, class: "nick_name", size: "30x1" %>
    	</div>
    	<div class="field">
    		<%= f.label :自己紹介 %><br>
    		<%= f.text_area :introduction, class: "introduction", size: "30x10" %>
    	</div>
      <div class="btn">
      	<%= f.submit '変更を保存する'%>
      </div>
      <% end %>
    </div>



    <div  class="c-show-right">
      <div>
        勉強中の資格プルダウンで表示
      </div>

      <%= form_with url: customers_customer_customer_study_qualifications_path(current_customer), model:@qualification, local: true do |f| %>

        <div class="">
            <th><%= f.label :資格, class: "" %></th>
            <td><%= f.collection_select :qualification_id, Qualification.all, :id, :name, include_blank: "--選択して下さい--" %></td>
        </div>
        <div class="btn">
        	<%= f.submit '変更を保存する'%>
        </div>

      <% end %>





      <div>
        保有資格プルダウンで表示
      </div>

      <div class="">

      </div>

      <div class="add-btn customer-edit-qualification-btn">
        保有の資格を追加する
      </div>
    </div>
  </div>



