<h1 class="page-title">ユーザ一覧</h1>

<div class="searh-window">
  <%= search_form_for(@q, url: customers_customers_path, method: :get) do |f| %>
    <%= f.label :name, "Keyword" %>
    <%= f.search_field :nick_name_cont %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<div class="customer-index">
  <table class="customer-index-table">
    <thead>
      <tr class="customer-index-table-title">
        <th></th>
        <th>ニックネーム</th>
        <th>勉強中の資格</th>
        <th>保有資格</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr data-link="<%= customers_customer_path(customer.id) %>">
          <td width=60><%= attachment_image_tag customer, :profile_image, format: 'png', fallback: "no_image_square.jpg", size: "60x60" %></td>
          <td width=150><%= link_to  customer.nick_name,  customers_customer_path(customer.id) %></td>
          <td>
            <% customer.customer_study_qualifications.each do |customer_study_qualification| %>
              <div class="customer_study_qualification">
                </div class="tag-name">
                  <%= customer_study_qualification.qualification.name %>
                </div>
              </div>
            <% end %>
          </td>
          <td>
            <% customer.customer_have_qualifications.each do |customer_have_qualification| %>
                <div class="customer_have_qualification">
                  <span class="tag-name">
                    <%= customer_have_qualification.qualification.name %>
                  </span>
                </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
