<h1 class="page-title">会員詳細</h1>

<div class="c-show-all">
  <div class="c-show-left">
    <div class="customer-image">
      <%= attachment_image_tag @customer, :profile_image, fallback: "no_image_square.jpg", size: "200x200", class: "customer-image" %>
    </div>

    <div class="c-show-name">
      <p>ニックネーム</p>
      <strong><%= @customer.nick_name %></strong>
    </div>

    <div class="c-show-sex">
      <span>性別：<%= @customer.sex %>　 年齢：<%= @customer.age %></span>
    </div>

    <div class="c-show-introduction">
      <p class="customers-customer-introduction-title">
        自己紹介
      </p>
      <div class="customer-introduction-text">
        <strong><%= @customer.introduction %></strong>
      </div>
    </div>

    <div class="c-followers-box">
      <% if customer_signed_in? %>
        <% unless current_customer == @customer %>
          <% if current_customer.following?(@customer) %>
            <%= link_to "フォローを外す", customers_customer_relationships_path(@customer.id), method: :delete, class: "c-followers-btn btn" %>
          <% else %>
            <%= link_to "フォローする", customers_customer_relationships_path(@customer.id), method: :post, class: "c-followers-btn btn" %>
          <% end %>
        <% end %>
      <% end %>

      <div class="c-follow-count">
        <p>フォロー数   : <%=link_to @customer.followings.count, customers_customer_followings_path(@customer) %></p>
      </div>

      <div class="c-followers-count">
        <p>フォロワー数 : <%=link_to @customer.followedes.count, customers_customer_followedes_path(@customer) %></p>
      </div>
    </div>

    <div class="c-study-qualifications">
      <p>勉強中の資格</p>
      <% @customer.customer_study_qualifications.each do |customer_study_qualification| %>
        <div class="customer_study_qualification">
          <span class="tag-name">
            <%= customer_study_qualification.qualification.name %>
          </span>
        </div>
      <% end %>
    </div>

    <div class="c-have-qualifications">
      <p>保有資格</p>
      <% @customer.customer_have_qualifications.each do |customer_have_qualification| %>
          <div class="customer_have_qualification">
            <span class="tag-name">
              <%= customer_have_qualification.qualification.name %>
            </span>
          </div>
      <% end %>
    </div>

    <div class="c-edit_btn-box">
      <% if current_customer == @customer %>
        <%= link_to "編集する", edit_customers_customer_path, class: "c-edit_btn btn" %>
      <% end %>
    </div>

    <% if current_customer == @customer %>
      <span>
        <%= link_to "ユーザの削除", customer_registration_path(@customer, format: "html"), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "destroy_customer_#{@customer.id}" %>
      </span>
    <% end %>

  </div>
  <div  class="c-show-right">
    <div>
      <p>投稿した体験談</p>
        <table class="c-index-table">
          <thead class="">
            <tr class="c-index-table-title">
              <th>資格</th>
              <th>タイトル</th>
              <th>内容</th>
            </tr>
          </thead>
          <tbody>
            <% @stories.each do |story| %>
              <tr>
                <td class="c-name-reduce"><%= story.qualification.name %></td>
                <td class="c-title-reduce"><%= link_to story.title, customers_qualification_story_path(story.qualification.id, story.id)  %></td>
                <td class="c-text-reduce"><%= story.body %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
　　<div>
      <p>コメント欄</p>

      <table id="given_messages">
        <%= render 'customers/post_comments/index', customer: @customer %>
      </table>

      <% if current_customer %>
        <div id="">
          <%= form_with url: customers_customer_post_comments_path(@customer), model: [@customer, @post_comment] do |f| %>
            <% if @post_comment.errors.any? %>
              <div id="error_explanation">
                <ul>
                  <% @post_comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div>
              <%= f.text_area :body, id: "comment_body", class: "form-control", placeholder: "最大150字まで", size: "60x5" %>
            </div>
            <div>
              <%= f.submit "送信" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>





