<div class="customer-name">
  <%= @customer.nick_name %>
</div>

<!--後で修正-->
<div class="customer-image">
  <%= attachment_image_tag @customer, :profile_image, fallback: "no_image_square.jpg", size: "200x200" %>
</div>

<div class="customer-introduction">
  <p class="customer-introduction-title">
    自己紹介
  </p>
  <div class="customer-introduction-text">
    <%= @customer.introduction %>
  </div>
</div>

<div class="customer-edit_btn">
  <%= link_to "編集する", edit_customers_customer_path, class: "btn" %>
</div>

<div class="customer-followers">
  <% if current_customer.following?(@customer) %>
    <%= link_to "フォロー外す", customers_customer_relationships_path(@customer.id), method: :delete, class: "btn" %>
  <% else %>
    <%= link_to "フォローする", customers_customer_relationships_path(@customer.id), method: :post, class: "btn" %>
  <% end %>
  <%= @customer.followings.count %>
</div>

<div class="customer-study-qualifications">
  <p>勉強中の資格</p>
</div>

<div class="customer-study-qualifications">
  <p>保有している資格</p>
</div>

<div class="customer-calendar">
  <p>カレンダー</p>
</div>

<div class="customer-destroy">
  <%= link_to "Destroy", customer_registration_path(@customer), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn destroy_customer_#{@customer.id}" %>
</div>

<div class="customer-stories">
  <p>投稿したコメント</p>
</div>

<div class="customer-stories">
  <p>投稿した体験談</p>
</div>






