<thead>
  <tr class="a-customer-index-table-title">
    <th></th>
    <th>ニックネーム</th>
    <th>性別</th>
    <th>年齢</th>
    <th>自己紹介</th>
    <th>日付</th>
  </tr>
</thead>
<tbody>
  <% customers.each do |customer| %>
    <tr>
      <td width=50><%= attachment_image_tag customer, :profile_image, format: 'png', fallback: "no_image_square.jpg", size: "50x50" %></td>
      <td width=100><%= link_to  customer.nick_name,  admins_customer_path(customer.id) %></td>
      <td width=50><%= customer.sex %></td>
      <td width=50><%= customer.age  %></td>
      <td class="a-c-text-reduce"><%= customer.introduction %></td>
      <td width=70><%= customer.created_at.strftime("%m月%d日") %></td>
    </tr>
  <% end %>
</tbody>