<%= search_form_for(@q, url: customers_qualifications_path, method: :get) do |f| %>
  <%= f.label :name, "Keyword" %>
  <%= f.search_field :name_cont %>

  <%= f.submit "検索" %>
<% end %>

<table class=''>
  <thead>
    <tr>
      <th>資格名</th>
      <th>ジャンル</th>
      <th>概要</th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications.each do |qualification| %>
      <tr>
        <td>
          <%= link_to qualification.name, customers_qualification_path(qualification) %>
        </td>
        <td><%= link_to qualification.genre.name %></td>
        <td><%= qualification.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
