<div class="customer-image">
  <%= attachment_image_tag @customer, :profile_image, fallback: "no_image_square.jpg", size: "200x200" %>
</div>

<div class="customer-name">
  <%= @customer.nick_name %>
</div>



<!--raty-->


<div>
  <p>タイトル</p>
  <%= @story.title %>
</div>

<div>
  <p>時間</p>
  約<%= @story.study_time %>時間
</div>

<div>
  <p>理由</p>
  <%= @story.reason %>
</div>

<div>
  <p>内容</p>
  <%= @story.body %>
</div>

<div>
  <p>利用した参考書</p>
  <%= @story.books %>
</div>

<%= link_to '体験談を編集する', edit_customers_qualification_story_path(@story) %>
