<thead>
  <tr class="a-stories-index-table-title">
    <th></th>
    <th width=100>ニックネーム</th>
    <th>資格名</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>日付</th>
  </tr>
</thead>
<tbody>
  <% stories.each do |story| %>
    <tr>
      <td width=50><%= attachment_image_tag story.customer, :profile_image, format: 'png', fallback: "no_image_square.jpg", size: "50x50" %></td>
      <td width=100><%= link_to  story.customer.nick_name,  admins_customer_path(story.customer.id) %></td>
      <td class="a-name-reduce"><%= story.qualification.name %></td>
      <td class="a-title-reduce"><%= link_to story.title, admins_qualification_story_path(story.qualification.id, story.id)  %></td>
      <td class="a-text-reduce"><%= story.body %></td>
      <td width=70><%= story.created_at.strftime("%m月%d日") %></td>
    </tr>
  <% end %>
</tbody>