<h3>管理者</h3>

  <div>
    <p>最新の体験談</p>
  </div>

  <div>
    <p>最新のコメント</p>
  </div>


<div>
  <%= link_to '新たに資格を作る', new_admins_qualification_path %>
</div>

<div>
  <%= link_to '新たにお知らせを作る', new_admins_announce_path %>
</div>

<div>
  <%= link_to '新たにジャンルを作る', admins_genres_path %>
</div>

<table class=''>
  <thead>
    <tr>
      <th>お知らせ</th>
      <th>区分</th>
      <th>概要</th>
    </tr>
  </thead>

  <tbody>
    <% @announces.each do |announce| %>
      <tr>
        <td>
          <%= link_to announce.title, admins_announce_path(announce) %>
        </td>
        <td><%= announce.category %></td>
        <td><%= announce.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>