<!DOCTYPE html>
<html>
  <head>
    <title>Dohtol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <% if request.fullpath.include?("admin") %>
          <%= render 'layouts/admins_header' %>
        <% else%>
          <%= render 'layouts/customers_header' %>
        <% end %>
      </header>
      
      <main><%= yield %></main>
      
      <footer><%= render 'layouts/footer' %></footer>
    </div>
  </body>
</html>
